/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


#player2 {
    background-image: url('../src/ninja_2_sprite.png');
    height: 75px;
    width: 75px;
    left: 0;
    right: 0;
    background-position: 15px 0px;
    background-size: 800% 315%;
    transform: scaleX(-1);
}

/* $TexturePacker:SmartUpdate:3fb2d1b1afcb278fdf52a4480ec35d56:ac867842c3afe4f38169e48a7f572d9d:6ec9f4c80a9982ed7967834318043e5f$ */
