li{
    list-style-type:none;
}
#board-game {
    width: 800px;
    margin: 3em auto 0;
}
#board-game .box {
    background: #EFEFEF;
    border-radius: 4px;
    width: 75px;
    height: 75px;
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
    cursor: pointer;
    box-sizing: border-box;
}

#board-game .blackBelt,#board-game .blueBelt,#board-game .redBelt,
#board-game .greenBelt,#board-game .yellowBelt,
#board-game .whiteBelt, #board-game .obstacle,
#board-game .player1, #board-game .player2{
    background-repeat: no-repeat;
    background-position: center;
}
#board-game .obstacle{
    background-image:url('../src/Stone.png');
}
#board-game .blackBelt{
    background-image:url('../src/Black_Ninja_Belt_icon.png');
}
#board-game .redBelt{
    background-image:url('../src/Red_Ninja_Belt_icon.png');
}
#board-game .blueBelt{
    background-image:url('../src/Blue_Ninja_Belt_icon.png');
}
#board-game .greenBelt{
    background-image:url('../src/Green_Ninja_Belt_icon.png');
}
#board-game .yellowBelt{
    background-image:url('../src/Yellow_Ninja_Belt_icon.png');
}
#board-game .seminar{
    //background-image:url('../src/Yellow_Ninja_Belt_icon.png');
}
#board-game .player1{
    background-image:url('../src/player1.png');
}
#board-game .player2{
    background-image:url('../src/player2.png');
}