body{
    background-color:#ff6666;
    font-family: "Montserrat", sans-serif;
}
#start-game{
    margin: 0 auto;
    padding: 80px;
    text-align:center

}
#start-game h1{
    font-size: 6em;
    text-align:center;
    color:#fff;
    line-height: 0.85;
    margin: 0 auto;
    width: 2.75em;
}
#start-game p{
    text-align:left;
    font-size:1.5em;
    color:#333;
    padding:5px;
    margin: 30px 0;
}
#start-game button{
    font-size: 2em;
    text-align:center;
    background: #ffd67a;
    border-radius: 28px;
    color:#4a2323;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 150px;
    border: none;
}
#start-game button:hover{
    background: #753c3c;
    color:#fff;
}
li{
    list-style-type:none;
}
.container{
    display:flex;
    justify-content: space-between;
}
.player-container{
    width:200px;
    display:flex;
    text-align:center;
    flex-direction: column;
}
.player-container .player, .player-container .weapon{
    display:flex;
    text-align:center;
    flex-direction: column;
}
.player-container .player-avatar, .player-container .belt{
    margin: 0 auto;
}
#board-game {
    min-width: 760px;
    max-width: 760px;
    padding: .5rem;
}
#board-game .box {
    background: #EFEFEF;
    border-radius: 4px;
    width: 75px;
    height: 75px;
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
    cursor: pointer;
    box-sizing: border-box;
}

#board-game .blackBelt,#board-game .blueBelt,#board-game .redBelt,
#board-game .greenBelt,#board-game .yellowBelt,
#board-game .whiteBelt, #board-game .obstacle,
#board-game .player1, #board-game .player2,
#player-1 .player-avatar, #player-2 .player-avatar,
#player-1 .belt, #player-2 .belt{
    background-repeat: no-repeat;
    background-position: center;
}
#board-game .obstacle{
    background-image:url('../src/Stone.png');
}
#board-game .blackBelt, .blackBelt{
    background-image:url('../src/Black_Ninja_Belt_icon.png');
}
#board-game .redBelt, .redBelt{
    background-image:url('../src/Red_Ninja_Belt_icon.png');
}
#board-game .blueBelt, .blueBelt{
    background-image:url('../src/Blue_Ninja_Belt_icon.png');
}
#board-game .greenBelt, .greenBelt{
    background-image:url('../src/Green_Ninja_Belt_icon.png');
}
#board-game .yellowBelt, .yellowBelt{
    background-image:url('../src/Yellow_Ninja_Belt_icon.png');
}
#board-game .whiteBelt, .whiteBelt{
    background-image:url('../src/White_Ninja_Belt_icon.png');
}
#board-game .seminar{
    //background-image:url('../src/Yellow_Ninja_Belt_icon.png');
}
#board-game .player1{
    background-image:url('../src/player1.png');
}
#board-game .player2{
    background-image:url('../src/player2.png');
}

#board-game .player2 .dead {
    background-image: url('../src/ninja_2_dead.png');
    height: 75px;
    width: 75px;
    background-position: 75px 0px;
    animation: run .8s steps(10) infinite;
}
#board-game .player2 .run{
    background-image: url('../src/ninja_2_run.png');
    height: 75px;
    width: 75px;
    background-position: 75px 0px;
    animation: run 0.8s steps(10);
}
@keyframes run {

    from { background-position:  20px; }
    to { background-position: -707px; }


}
@keyframes attack {
    100% {
        background-position: -75px;
    }
}

#board-game .player2 .attack{
    background-image: url('../src/ninja_2_attack.png');
    height: 75px;
    width: 75px;
    background-position: 10px 0px;
    animation: attack .9s steps(10);
}

@keyframes attack {
    100% {
        background-position: -844px;
    }
}
#player-1, #player-2{
    border:1px solid black;
    padding:20px;
}
#player-1 .player, #player-2 .player{
    font-size:20px;
    text-align:center;
}
#player-1 .player-avatar, #player-2 .player-avatar,
#player-1 .belt, #player-2 .belt{
    width: 75px;
    height: 75px;
}
#player-1 .player-avatar{
    background-image:url('../src/player1.png');
}
#player-2 .player-avatar.dead{
    background-image:url('../src/player2-dead.png');
}
#player-2 .player-avatar{
//background-image:url('../src/player2.png');
    background-image: url('../src/ninja_2_attack.png');
    height: 75px;
    width: 75px;
    background-position: 20px 4px;
    animation: sprite .5s steps(10);
}
#player-1 .player-avatar.dead{
    background-image:url('../src/player1-dead.png');
}
.player-container.active{
    background-color: #ccc;
}
.player-container button{
    color:#fff;
    font-size: 1em;
    border-radius: 15px;
    border: none;
    padding:10px;
    margin:10px;
}
#player-1 .player-name{
    color:#ff6969;
}
#player-2 .player-name{
    color:#4e2152;
}
#player-1 .attack{
    background-color: #ff6969;
}
#player-1 .defend{
    background-color: #753c3c;
}
#player-1 .attack:hover, #player-1 .defend:hover{
    background-color: #ffe9ad;
    color:#48524e;
}
#player-2 .attack{
    background-color: #4e2152;
}
#player-2 .defend{
    background-color: #48524e;
}
#player-2 .attack:hover, #player-2 .defend:hover{
    background-color: #ffe9ad;
    color:#48524e;
}

#player-1 .score, #player-2 .score{
    font-size:20px;
}
